body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    font-family: 'Helvetica', sans-serif;
    color: black;
    letter-spacing: -1px;
}

.app {
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px; /* space for nav bar */
}
